// 正常未被访问的链接，取消a标签的下划线
a:link{
	text-decoration:none;
}

.isLink {
    padding-bottom: 1px;
    &:hover{
        border-bottom: solid #eee;
    }
}

/* 整体布局 */
.main-body {
    padding: 10px;
    background-color: rgb(255, 243, 227);
}

/* 内容 */
.main-wrap {
    display: flex;
    flex-direction: column;
}

/* 区分doing和done */
.checkbox {
    display: flex;
    flex-direction: column;
}

.top-buttons button {
    color: aliceblue;
    background-color: transparent;
    border-style: none;
    width: 50%;
    font-size: 1.8vw;
    padding: 1vw;
    &:hover {
        border: 2px solid aliceblue;
        background-color: rgb(250, 181, 77);
    }
}

#common-btn {
    background-color: transparent;
    border-style: none;
    width: 4vw;
    &:hover {
        border: 2px solid aliceblue;
        border-radius: 10px;
        background-color: rgb(250, 181, 77);
    }
}

// 主要用来规定每一条list的样式
ul{margin: 0px;padding: 0px;}
li{
    display: flex;
    margin: 1vw 0 2vw 0;
    padding: 1vw 0 1vw 0;
    border: 2px solid rgb(250, 181, 77);
    border-radius: 10px;
    background-color: #ffecca;
}

#division-line {
    height: 8px;
}

#new-list {
    @extend li;
    height: 3vw;
}